<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %} Etusivu {% endblock %}
{% block content %}
<html>
<head>
  <title>Keskustelualueet</title>
</head>
<body>
  <h1>Keskustelualueet</h1>

  <ul>
    {% for area in areas %}
      <li><a href="/threads/{{ area.id }}"> {{ area.name }}</a>
      {% if session["user_role"] == "admin" %}
      <a href="/delete_area/{{ area.id }}" onclick="return confirm('Haluatko varmasti poistaa tämän alueen?')">Poista</a>
      {% endif %}</li>
    {% endfor %}
  </ul>
  {% if session["user_role"] == "admin" %}
  <a href="/create_area">Luo uusi keskustelualue</a>
  {% endif %}

</body>
</html>
{% endblock %}
