<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %} Etusivu {% endblock %}
{% block content %}
<html>
<head>
  <title>Luo uusi keskustelualue</title>
</head>
<body>
  <h1>Luo uusi keskustelualue</h1>
  <form action="/create_area" method="POST">
    <label for="name">Nimi:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <input type="submit" value="Luo keskustelualue">
  </form>
  <br>
  <a href="/areas">Takaisin keskustelualueille</a>
</body>
</html>
{% endblock %}
