<!DOCTYPE html>
<html>
<head>
  <title>Etusivu</title>
</head>
<body>
  <h1>Keskustelualueet</h1>
  <ul>
    {% for area in areas %}
      <li>
        <h2><a href="/threads/{{ area.id }}">{{ area.name }}</a></h2>
        <ul>
          {% for thread in threads_for_areas[area.id] %}
            <li><a href="/view_thread/{{ thread.id}}">{{ thread.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
{% if session.user_id %}
Olet kirjautunut sisään.
<form action="/result" method="GET">
Hakusana: <input type="text" name="query">
<br>
<input type="submit" value="Lähetä">
</form>
<br>
<a href="/new">Lähetä viesti</a> | <a href="/logout">Kirjaudu ulos</a>
<html>
<head>
<title>Edellinen alue</title>
</head>
<button onclick="goBack()">Takaisin</button>
<script>
function goBack() {
window.history.back();
}
</script>
</body>
</html>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
