<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %} Etusivu {% endblock %}
{% block content %}
<html>
<head>
  <title>Etusivu</title>
</head>
<body>
  <h1><p class="text-with-stroke"<b><a href="/areas">Keskustelualueet</a></b></p></h1>
  <ul>
    {% for area in areas %}
      <li>
        <h2><a href="/threads/{{ area.id }}">{{ area.name }}</a></h2>
        <ul>
          {% for thread in threads_for_areas[area.id] %}
            <li><a href="/view_thread/{{ thread.id}}">{{ thread.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</body>
</html>

{% endblock %}
