{% extends "layout.html" %}

{% block title %} Etusivu {% endblock %}
{% block content %}

<h2>Rekisteröinti</h2>

<form action="/register" method="post">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
Tunnus: <br><input type="text" name="username" minlength="1" maxlength="20">
<p>
Salasana: <br><input type="password" name="password1">
<p>
Salasana uudestaan: <br><input type="password" name="password2">
<p>
Rooli: <br>
<input type="radio" name="role" value="user" checked> käyttäjä
<input type="radio" name="role" value="admin"> ylläpitäjä
<p>
<input type="submit" value="Luo tunnus">
</form>
<p>
<a href="/">Palaa takaisin</a>
{% endblock %}
