<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %} Etusivu {% endblock %}
{% block content %}
<html>
<head>
  <title>{{ thread.title }}</title>
</head>
<body>
  <h1>{{ thread.title }}</h1>
  <p> Viestejä: {{ count }} </p>
  <ul>
    {% for message in messages %}

      <img src="/static/zohachat-icon.svg" alt="Icon" class="medium-icon">
      <strong>{{ message.username }}</strong> ({{ message.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}):
      <p>{{ message.content }}</p>
      {% if message.user_id == session["user_id"] %}
      <a href="/edit_message/{{ message.id }}">Muokkaa</a>
      <a href="/delete/{{ message.id }}">Poista</a>
      <br>
      {% endif %}

    {% endfor %}
  </ul>
{% if session.user_id %}
  <h2>Lisää uusi viesti</h2>
  <form action="/create_message/{{ thread.id }}" method="POST">
    <textarea id="content" name="content" rows="5" cols="40" required maxlength="1000"></textarea>
    <br>
    <input type="submit" value="Lähetä viesti">
  </form>
  <br>
  <a href="/threads/{{ thread.area_id }}">Takaisin ketjuun</a>
</body>
</html>
{% else %}
<h2 class="mb-2">Kirjaudu sisään</h2>
  <form action="/login" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <div class="form-group mb-2">
      <label for="username">Tunnus</label>
      <div class="col-md-4">
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
  </div>
    <div class="form-group mb-2">
      <label for="password">Salasana</label>
      <div class="col-md-4">
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
  </div>
      <div class="col-md-4">
      <button type="submit" class="btn btn-primary btn-block">Kirjaudu</button>
    </div>
      </form>
      <a href="/register">Luo uusi tunnus</a>
{% endif %}
{% endblock %}
